@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-Regular.eot');
  src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Regular.woff') format('woff'),
    url('AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('AvenirNextLTPro-Demi.eot');
  src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Demi.woff') format('woff'),
    url('AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('AvenirNextLTPro-Bold.eot');
  src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Bold.woff') format('woff'),
    url('AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-Medium.eot');
  src: url('AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Medium.woff') format('woff'),
    url('AvenirNextLTPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-Heavy.eot');
  src: url('AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Heavy.woff') format('woff'),
    url('AvenirNextLTPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-UltLt.eot');
  src: url('AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-UltLt.woff') format('woff'),
    url('AvenirNextLTPro-UltLt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  position: absolute;
}

.full-height {
  height: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,h2,h3,h4,h5,h6, p {
  font-family: 'Avenire Next LT Pro', sans-serif;
}

.full-page-header {
  width: 100%;
  height: 100%;
  background: rgba(32,31,29,1);
  @include gradient-directional(rgba(32,31,29,1) 0%, rgba(69,55,68,1) 100%, -45deg)

  h1 {
    color: white;
    align-self: center;
    font-weight: 200;
    font-size: 5rem;
  }
}

#headerCanvas {
  display:block;
  top: 0;
  left: 0;
  position: absolute;
}

.headerContent {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.socialImage {
  width: 46px;
  margin-right: 22px;
  display: inline-block;

  &:last-of-type {
    margin-right: 0;
  }

  img {
    max-width: 100%;
  }
}
