@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import 'mixins';

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-Regular.eot');
  src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Regular.woff') format('woff'),
    url('AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('AvenirNextLTPro-Demi.eot');
  src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Demi.woff') format('woff'),
    url('AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url('AvenirNextLTPro-Bold.eot');
  src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Bold.woff') format('woff'),
    url('AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-Medium.eot');
  src: url('AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Medium.woff') format('woff'),
    url('AvenirNextLTPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-Heavy.eot');
  src: url('AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-Heavy.woff') format('woff'),
    url('AvenirNextLTPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('AvenirNextLTPro-UltLt.eot');
  src: url('AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextLTPro-UltLt.woff') format('woff'),
    url('AvenirNextLTPro-UltLt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.footer {
  text-align: center;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6, p {
  font-family: 'Avenire Next LT Pro', sans-serif;
}

#frontPageHeader {
  bottom: 20px;
  width: 100%;
  height: 100%;
  background: rgba(32,31,29,1);
  background: -moz-linear-gradient(-45deg, rgba(32,31,29,1) 0%, rgba(69,55,68,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(32,31,29,1)), color-stop(100%, rgba(69,55,68,1)));
  background: -webkit-linear-gradient(-45deg, rgba(32,31,29,1) 0%, rgba(69,55,68,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(32,31,29,1) 0%, rgba(69,55,68,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(32,31,29,1) 0%, rgba(69,55,68,1) 100%);
  background: linear-gradient(135deg, rgba(32,31,29,1) 0%, rgba(69,55,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201f1d', endColorstr='#453744', GradientType=1 );

  h1 {
    color: white;
    align-self: center;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-weight: 200;
    font-size: 5rem;
  }
}

#headerCanvas {
  display:block;
  top: 0;
  left: 0;
  position: absolute;
}


.headerContent {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  @include flex-box-center(center, center);
}


.socialImage {
  width: 46px;
  margin-right: 22px;
  display: inline-block;

  &:last-of-type {
    margin-right: 0;
  }

  img {
    max-width: 100%;
  }
}
