extends views/layouts/default

block content
  .row.full-height
    .col-sm-12#frontPageHeader
      canvas#headerCanvas(height="600px")
      .headerContent
        .companyName
          h1 daft labs
        .socialLinks
          a.socialImage(href="https://github.com/daftlabs") 
            img(src="/images/github_logo.png" srcset="/images/github_logo@2x.png 2x, /images/github_logo.png 1x")
          a.socialImage(href="https://facebook.com/daftlabs") 
            img(src="/images/fb_logo.png" srcset="/images/fb_logo@2x.png 2x, /images/fb_logo.png 1x")
          a.socialImage(href="https://facebook.com/daftlabs") 
            img(src="/images/twitter_logo.png" srcset="/images/twitter_logo@2x.png 2x, /images/twitter_logo.png 1x")
