extends views/layouts/default

block content
  .row.full-height
    .col-sm-12.full-page-header#front-page-header
      canvas#header-canvas(height="600px")
      .header-content
        .companyName
          h1 daft labs
        .row
          a.social-image(href="https://github.com/daftlabs") 
            img(src="/images/github_logo.png" srcset="/images/github_logo@2x.png 2x, /images/github_logo.png 1x")
          a.social-image(href="https://facebook.com/daftlabs") 
            img(src="/images/fb_logo.png" srcset="/images/fb_logo@2x.png 2x, /images/fb_logo.png 1x")
          a.social-image(href="https://twitter.com/daftlabs") 
            img(src="/images/twitter_logo.png" srcset="/images/twitter_logo@2x.png 2x, /images/twitter_logo.png 1x")
        .bottom-content
          a(href="/careers.html")
            p Careers
