extends layouts/default.jade

block content
  .row
    h1 daft labs
    p on
    h2 airbnb
    p
      a(href='https://www.airbnb.com/rooms/2811703', target='_blank') Whole Apartment
      a(href='https://www.airbnb.com/rooms/2975604', target='_blank') Single Room
