html
  head
    title Avantlink
    meta(http-equiv='refresh', content='1;http://www.avantlink.com/click.php?tt=ml&ti=1060&pw=157247')
  body
    center
      | You are being redirected to:
      a(href='http://www.avantlink.com/click.php?tt=ml&ti=1060&pw=157247')
        | Avantlink
