html
  head
    title Business Filings
    meta(http-equiv='refresh', content='1;http://www.bizfilings.com/jpals.asp?TGID=&d=423423&PCD=A2238')
  body
    center
      | You are being redirected to:
      a(href='http://www.bizfilings.com/jpals.asp?TGID=&d=423423&PCD=A2238')
        | BizFilings
