extends layouts/default

block content
  .header-content
    div
      h1 daft labs: books
      div
        a.card(href='http://daftlabs.com/books/slicing_pie', target='_blank')
          img.img-responsive(src='/images/books/slicing_pie.jpg', alt='Slicing Pie')
          | Slicing Pie
        a.card(href='http://amzn.to/1IgwSqV', target='_blank')
          img.img-responsive(src='/images/books/clean_code.jpg', alt='Clean Code')
          | Clean Code
        a.card(href='http://amzn.to/1SEJaiH', target='_blank')
          img.img-responsive(src='/images/books/patterns_of_enterprise_application_architecture.jpg', alt='Patterns of Enterprise Application Architecture')
          | Patterns of Enterprise Application Architecture
        a.card(href='http://amzn.to/1RUUWKG', target='_blank')
          img.img-responsive(src='/images/books/the_pragmatic_programmer.jpg', alt='The Pragmatic Programmer')
          | The Pragmatic Programmer: From Journeyman to Master
        a.card(href='http://amzn.to/1TUiInP', target='_blank')
          img.img-responsive(src='/images/books/mythical_man_month.jpg', alt='The Mythical Man-Month')
          | The Mythical Man-Month
        a.card(href='http://amzn.to/1gQEAC7', target='_blank')
          img.img-responsive(src='/images/books/dont_make_me_think.jpg', alt="Don't Make Me Think")
          | Don't Make Me Think
