html
  head
    title Daft Labs Clubhouse
    meta(http-equiv='refresh', content='1;https://plus.google.com/hangouts/_/calendar/d29vZHdhcnRAZ21haWwuY29t.bdd38ufrpbqk6pgpaaflgf0igg')
  body
    center
      | You are being redirected to:
      a(href='https://plus.google.com/hangouts/_/calendar/d29vZHdhcnRAZ21haWwuY29t.bdd38ufrpbqk6pgpaaflgf0igg')
        | https://plus.google.com/hangouts/_/calendar/d29vZHdhcnRAZ21haWwuY29t.bdd38ufrpbqk6pgpaaflgf0igg
