html
  head
    title Daft Labs Creed
    meta(http-equiv='refresh', content='1;https://github.com/daftlabs/creed')
  body
    center
      | You are being redirected to:
      a(href='https://github.com/daftlabs/creed')
        | https://github.com/daftlabs/creed
