doctype html
html
	head
		meta(charset='utf-8')
		title Thanks for your feedback
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel='stylesheet' href='styles/main.css')
		link(rel='script' href='scripts/satisfaction.js')
	body
		.container-fluid.full-height
		.row
			header.header
				.container
					.col-sm-12
						h2 Thanks for letting us know how we did!
		.row
			.container
				.col-sm-12
					main.main
						p.thanks We love you long time
		.row
			.container
				form#satisfaction(action="action=https://script.google.com/macros/s/AKfycbxtl0qaUunta4r6QaqSNrQookBQ6SuGN2h8VzPvn8MzK_MDDJkw/exec" method="get")
					input#result(type="hidden",
						value='<?php echo $_GET["result"]; ?>',
						name="satisfaction")
					input#origin(type="hidden",
						value='<?php echo $_GET["origin"]; ?>',
						name="origin")
