html
  head
    title Godaddy
    meta(http-equiv='refresh', content='1;http://www.shareasale.com/u.cfm?d=158820&m=48436&u=410112')
  body
    center
      | You are being redirected to:
      a(href='http://www.shareasale.com/u.cfm?d=158820&m=48436&u=410112')
        | Godaddy
