html
  head
    title Grasshopper
    meta(http-equiv='refresh', content='1;http://shrsl.com/?~7n1b')
  body
    center
      | You are being redirected to:
      a(href='http://shrsl.com/?~7n1b')
        | Grasshopper
