html
  head
    title Purchase Request
    meta(http-equiv='refresh', content='1;http://goo.gl/forms/Iw14pi10ZZ')
  body
    center
      | You are being redirected to:
      a(href='http://goo.gl/forms/Iw14pi10ZZ')
        | Purchase Request
