html
  head
    title Shareasale
    meta(http-equiv='refresh', content='1;http://shrsl.com/?~7ryw')
  body(bgcolor='#ffffff')
    center
      | You are being redirected to:
      a(href='http://shrsl.com/?~7ryw')
        | Shareasale
