html
  head
    title Time
    meta(http-equiv='refresh', content='1;http://daftlabs.harvestapp.com')
  body
    center
      | You are being redirected to:
      a(href='http://daftlabs.harvestapp.com')
        | http://daftlabs.harvestapp.com
