html
  head
    title W9
    meta(http-equiv='refresh', content='1;/files/daftlabs-w9.pdf')
  body
    center
      | You are being redirected to:
      a(href='/files/daftlabs-w9.pdf')
        | /w9/daftlabs-w9.pdf
