html
  head
    title Daft Labs Wiki
    meta(http-equiv='refresh', content='1;https://github.com/daftlabs/creed/wiki')
  body
    center
      | You are being redirected to:
      a(href='https://github.com/daftlabs/creed/wiki')
        | https://github.com/daftlabs/creed/wiki
