html
  head
    title WP Engine
    meta(http-equiv='refresh', content='1;http://shrsl.com/?~7ftn')
  body
    center
      | You are being redirected to:
      a(href='http://shrsl.com/?~7ftn')
        | WPEngine
